@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../Font/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('../Font/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    src: url('../Font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../Font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../Font/Roboto-Regular.ttf') format('truetype');
}